.homeEntriesContainer {
    margin: 0em auto;
    min-height: 100%;
    max-width: 50em;
    min-width: 10em;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    text-decoration: none;

    .CreateButton{
        margin-left: auto;
        width: 100px;
        position: relative;
        margin-bottom: 1em;
        background-color: white;
        transition: background .2s ease-in-out;

        &:hover{
            background-color: #232629;
        }

        a {
            text-decoration: none;
            color: black;
            transition: color .1s ease-in-out;

            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: white solid 2px;
                transition: top, left, right, bottom .1s ease-in-out, border .15s ease-in-out;
            }

            p{
                text-align: center;
                display: block;
            }

            &:hover{
                color: white;

                &::before{
                    border: #ff5857 solid 2px;
                    top: -4px;
                    left: -4px;
                    right: -4px;
                    bottom: -4px;
                }
            }
        }   
    }

    .homeEntryContainer {
        width: 100%;
        transition: background .5s ease-in, color .2s ease-in-out;
        &:hover{
            background: #ff5857;
        }

        a {
            color: inherit;
            padding: 1em;
            text-decoration: none;
            display: flex;
            justify-content: space-between;


            p, h1 {
                display: inline;
                margin: 0;
            }
            p{
                margin-left: auto;
                font-weight: lighter;
                opacity: 0.5;
            }
        }
    }
}